.footer {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: grey;
    color: white;
}

.footer span {
    font-weight: bold;
    color: rgb(0, 219, 201);
}