.form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
}

.form input {
    padding: 8px 15px;
    margin-bottom: 1.4em;
    border-radius: 9px;
    border: 1px solid gray;
}

.form input[type="submit"] {
    background-color: rgb(0, 219, 201);
    border: 1px solid rgb(0, 219, 201);
    color: black;
    transition: .5s;
    cursor: pointer;
}

.form input[type="submit"]:hover {
    background-color: white;
    border-color: gray;
}

.input_container {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.input_container label {
    font-weight: bold;
    margin-bottom: .4em;
}
